.theme_container {
  border-radius: 1.5rem;
  max-width: 5rem;
  max-height: 1.25rem;


  &:hover {
    cursor: pointer;
  }
}


.toggle_group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;

  img {
    height: 0.875rem;
  }

  .toggle {
    width: 2rem;
    height: 1.25rem;
    background-color: var(--purple);
    border-radius: 999px;
    padding: 0.25rem;
    display: flex;
    transition: background-color 0.3s ease; /* Optional: transition for background color */
  }

  .toggle_circle {
    height: 100%;
    width: 50%;
    background-color: var(--white);
    border-radius: 999px;
    transition: transform 250ms ease; /* Smooth animation */
  }

  .isDayMode {
    .toggle_circle {
      transform: translateX(0);
    }
  }

  .isNightMode {
    .toggle_circle {
      transform: translateX(100%);
    }
  }
}


