
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  place-content: center;
  min-height: 100vh;
  padding-bottom: 17rem;
}



/* Mobile backgrounds */
.backgroundMobileLight {
  background-image: url('../public/assets/images/pattern-background-mobile-light.svg');
}

.backgroundMobileDark {
  background-image: url('../public/assets/images/pattern-background-mobile-dark.svg');
}

/* Tablet backgrounds */
@media screen and  (min-width: 768px) {

  main {
    padding-bottom: 17rem;
  }

  .backgroundTabletLight {
    background-image: url('../public/assets/images/pattern-background-tablet-light.svg');
  }

  .backgroundTabletDark {
    background-image: url('../public/assets/images/pattern-background-tablet-dark.svg');
  }

  /* Desktop backgrounds */
  @media screen and (min-width: 1201px) {
    main {
      padding-bottom: 18rem;
    }

    .backgroundDesktopLight {
      background-image: url('../public/assets/images/pattern-background-desktop-light.svg');
    }

    .backgroundDesktopDark {
      background-image: url('../public/assets/images/pattern-background-desktop-dark.svg');
    }
  }
}