@font-face {
  font-family: 'Rubik';
  src: url("/public/assets/fonts/Rubik-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url("/public/assets/fonts/Rubik-Italic-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: italic;
}

:root {
  --purple: hsl(277, 91%, 56%);
  --dark-navy: hsl(216, 25%, 25%);
  --navy: hsl(215, 27%, 32%);
  --grey-navy: hsl(219, 13%, 44%);
  --light-bluish: hsl(216, 47%, 78%);
  --light-grey: hsl(220, 38%, 97%);
  --white: hsl(0, 0%, 100%);
  --green: hsl(151, 70%, 50%);
  --red: hsl(0, 82%, 63%);

  /* Typography */

  .display {
    font-family: Rubik, serif;
    font-weight: 500;
    font-size: 9rem;
    line-height: 100%;
  }

  .heading-l-bold {
    font-family: Rubik, serif;
    font-weight: 500;
    font-size: 4rem;
    line-height: 100%;
  }

  .heading-l-regular {
    font-family: Rubik, serif;
    font-weight: 300;
    font-size: 4rem;
    line-height: 100%;
  }

  .heading-m {
    font-family: Rubik, serif;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 100%;
  }

  .heading-s {
    font-family: Rubik, serif;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 100%;
  }

  .body-m {
    font-family: Rubik, serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 150%;
  }

  .body-s {
    font-family: Rubik, serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 150%;
    font-style: italic;
  }

}

/* Light Theme */
.light {
  background-color: var(--light-grey);
}

.light_element_text {
  color: var(--dark-navy);
}

.light_element_bg {
  background-color: var(--white);
}

.light_progress_bg {
  background-color: var(--white);
}

.light-error-text {
  color: var(--red);
}

.light_number_header_text {
  color: var(--grey-navy);
}


/* Dark Theme */
.dark {
  background-color: var(--dark-navy);
}

.dark_element_bg {
  background-color: var(--navy);
}

.dark_element_text {
  color: var(--white);
}

.dark_progress_bg {
  background-color: var(--navy);
}

.dark_error_text {
  color: white;
}

.dark_number_header_text {
  color: var(--light-bluish);
}










